*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: $font-base;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  overflow-x: hidden;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

