:root{
--contacts-color:#444444;
--contacts-color-title:#111111;
}
}

.contacts {
  margin: 0;
}

.contacts__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--contacts-color-title);
}

.contacts p {
  font-size: 14px;
  line-height: 20px;
  color: var(--contacts-color);
}

