.example {
  background-color: $grey-super-light;
  font-size: 14px;
  line-height: 18px;
  color: $base-text-color;
}

.example__title {
  font-family:  $font-primary;
  font-size: 36px;
  line-height: 40px;
  color: $black;
}
